small-screen = 450px;
desktop-controls-width = 442px;
labels-font = 'Roboto', sans-serif;

highlight-color = #ff4081;
primary-text = rgb(33, 33, 33);
secondary-color = rgba(0,0,0,.54);
emphasis-background = white;
background-color = #F7F2E8;
border-color = #E9EAED;